<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="${board.title}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
<span th:text="${board.writer}" style="font-size: 2em;"></span>
<span th:text="${#temporals.format(board.createDate,'yyyy-MM-dd HH:mm:ss')}" style="font-size: 2em;"></span>
<span th:text="${board.hits}" style="font-size: 2em;"></span><br>
<hr style="margin: 1em">
<strong th:text="${board.title}" style="font-size: 5dvi;"></strong><br>
<hr style="margin: 1em">
<span th:if="${board.hasFile==1}"> <!-- 이미지가 있을시 출력-->
    <span th:each="file:${board.repositoryFileName}">
    <img th:src="@{|/upload/${file}|}" alt="게시글삽입이미지"><br>
        </span>
</span>
<span th:text="${board.contents}"></span> <!--내용 출력-->
<br>
<hr style="margin: 1em">
<button onclick="listReq()">목록</button>
<span th:if="${session.loginDTO!=null}">
<span th:if="${board.memberId==session.loginDTO.memberId}">
<button onclick="updateReq()">수정</button>
<button onclick="deleteReq()">삭제</button>
</span>
    </span>
<!--삭제예정-->
<span th:unless="${session.loginDTO!=null}">
<button onclick="updateReq()">수정</button>
<button onclick="deleteReq()">삭제</button>
    </span>
<!--댓글 작성-->
<div id="comment-write">
    <span th:if="${session.loginDTO!=null}">
    <input type="text" id="commentWriter" th:value="${session.loginDTO.memberNick}"placeholder="작성자" readOnly/>
    <input type="text" id="commentContents" placeholder="내용"/>
    <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
</span>
</div>
<!--댓글 출력-->
<div id="comment-list">
    <table>
        <tr th:if="${!commentList.isEmpty()}">
            <th>댓글번호</th>
            <th>작성자</th>
            <th>내용</th>
            <th>작성시간</th>
        </tr>
        <tr th:each="comment:${commentList}">
            <td th:text="${comment.cno}"></td>
            <td th:text="${comment.writer}"></td>
            <td th:text="${comment.commentContents}"></td>
            <td th:text="${#temporals.format(comment.commentCreatedTime,'yy-MM-dd HH:mm:ss')}"></td>
            <td><button id="comment-modify-btn" onclick="">수정</button>
                <button id="comment-delete-btn" onclick="">삭제</button></td>
        </tr>
    </table>
</div>
<!--    &lt;!&ndash;/* 댓글 수정 popup */&ndash;&gt;-->
<!--    <div id="commentUpdatePopup" class="popLayer">-->
<!--        <h3>댓글 수정</h3>-->
<!--        <div class="pop_container">-->
<!--            <table class="tb tb_row tl">-->
<!--                <colgroup>-->
<!--                    <col style="width:30%;" /><col style="width:70%;" />-->
<!--                </colgroup>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <th scope="row">작성자<span class="es">필수 입력</span></th>-->
<!--                    <td><input type="text" id="modalWriter" name="modalWriter" placeholder="작성자를 입력해 주세요." /></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row">내용<span class="es">필수 입력</span></th>-->
<!--                    <td><textarea id="modalContent" name="modalContent" cols="90" rows="10" placeholder="수정할 내용을 입력해 주세요."></textarea></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--            <p class="btn_set">-->
<!--                <button type="button" id="commentUpdateBtn" class="btns btn_st2">수정</button>-->
<!--                <button type="button" class="btns btn_bdr2" onclick="closeCommentUpdatePopup();">취소</button>-->
<!--            </p>-->
<!--        </div>-->
<!--        <button type="button" class="btn_close" onclick="closeCommentUpdatePopup();"><span><i class="far fa-times-circle"></i></span></button>-->
<!--    </div>-->

</body>
<script th:inline="javascript">
    const listReq = () => {
        console.log("게시판 리스트 요청 성공");
        const page = [[${page}]];
        location.href = "/board/proud/?page=" + page;
    }
    const updateReq = () => {
        console.log("수정 요청");
        const bno = [[${board.bno}]];
        location.href = "/board/proud/modify/" + bno;
    }
    const deleteReq = () => {
        alert("정말 삭제 하시겠습니까?");
        console.log("삭제 요청");
        const bno = [[${board.bno}]];
        location.href = "/board/proud/delete/" + bno;
    }
    const commentWrite = () => {
        const sessionId = [[${session.loginDTO != null ? session.loginDTO.memberId : ''}]];
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용:", contents);
        const bno = [[${board.bno}]]; //게시글번호
        //게시글번호 가져오기
        $.ajax({
            // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/comment/save",
            data: {
                "writer": writer,
                "commentContents": contents,
                "bno": bno
            },
            success: function (res) {
                console.log("요청 성공", res);
                let output = "<table>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" + res[i].cno + "</td>";
                    output += "<td>" + res[i].writer + "</td>";
                    output += "<td>" + res[i].commentContents + "</td>";
                    output += "<td th:text='${#temporals.format("+res[i].commentCreatedTime+","+"'yy-MM-dd HH:mm:ss')}>"+"</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentWriter').value =sessionId;
                document.getElementById('commentContents').value = '';
            },
            error: function (err) {
                console.log("요청 실패", err);
            }
        })
    };
</script>
</html>